backend/__pycache__
backend/venv
backend/backend.log
frontend/node_modules
frontend/public/Texas_Geojsons
frontend/public/Texas_geotiffs
backend/runs
backend/myenv
backend/testing
backend/Texas_satellite_images/
backend/Texas_satellite_images/*
backend/Texas_satellite_images/**/*
backend/rag_texas_knowledge_base_detailed
backend/.env
backend/gen_10_year_plan_rag/kb_chunks.jsonl
backend/spatial_data.db
backend/generated_plans
backend/rag_sample