backend/__pycache__
backend/venv
backend/backend.log
frontend/node_modules
frontend/public/Texas_Geojsons
frontend/public/Texas_geotiffs
backend/runs
backend/myenv
backend/testing
backend/Texas_satellite_images/
backend/Texas_satellite_images/*
backend/Texas_satellite_images/**/*
backend/rag_texas_knowledge_base_detailed
backend/.env
backend/gen_10_year_plan_rag/kb_chunks.jsonl
backend/spatial_data.db
backend/generated_plans
backend/rag_sample
backend/citizen_chatbot/__pycache__
backend/citizen_chatbot_sample
backend/gen_10_year_plan_rag/__pycache__
backend/login/__pycache__
backend/texas_chatbot.db
frontend/build
frontend/public/texas_fire_geojsons
frontend/public/texas_fire_geojsons.zip
frontend/public/Texas_Geojsons.zip
newenv
backend/env